
li {
  float: left;
}


li a:hover {
    background-color: #F0EAD6;
    text-decoration:none;
    color: inherit;
}

hr {
  padding: 0;
  margin: 0;
}

li a {
    display: block;
    color: #6C5A49;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button-std {
  background-color: #6C5A49;
  color: white;
  border: none;
  padding: 5px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  margin: auto;
  margin-top: 7%;
  margin-left: 5px;
  margin-right: 20px;
  vertical-align: middle;
  font-size: 100%
}

img {
  /* margin: 3px; */
}

.button-std:hover {

  background-color: #533E29
}


.option {
  float:right
}

Link {
  margin: 0px;
  padding: 0px;
}

.title:hover {
  background-color: white;
}

.header-list {
  margin: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  list-style-type: none;
}

.header-line {
  margin: 0px;
}
